        <div class="head-text text-center mb-8 mt-20 text-white">
            <h1 class="head-text-content text-5xl mb-1">Cursos</h1>
        </div>
        <div class="mx-auto w-24 h-1 my-40 bg-gradient-to-r from-orange-500 to-pink-500 rounded-full"></div>
        <section>
            <div class="container page-elements my-3">
                <article class="profile-container my-1" >
                    <div class="section-title">Resultados de packs encontrados:</div>
                    <div class="mx-auto w-25 h-1 my-40 bg-gradient-to-r from-blue-500 to-purple-500 roundier"></div>
                    <div class="pack-elements" *ngFor="let pack of packsList">
                        
                        <article class="packId-container my-2">
                            <a class="packInfo-link" href=""> </a>
                            <div class="packId-header">
                                <div class="packId-logo">
                                    <img class="packId-svg" src="/assets/{{pack.packImage}}" type="image/svg+xml"/>
                                </div>
                            </div>
                            <div class="packId-info"><br>
                                <div class="packId-title">{{pack.packTitle}}</div>
                                <div class="packId-content">{{pack.packDescription_short}}</div><br>
                                <div class="packId-title">Contenido extendido</div><br>
                                <div class="packId-content">{{pack.packDescriptionLong}}</div> <br>
                            </div>
                            <div class="tag-section">
                                <span *ngFor=" let tag of tagsList">
                                      <span *ngIf="isPackInTag(pack.packTitle, tag)" class="tag {{tag.tagType}}">{{tag.tagName}}</span>
                                </span>
                            </div>
                        </article>
                    </div>
                </article>
            </div>
        </section>
    