footer {
   padding-bottom: 20px;
   margin-top: 15rem;
   font-size: 11px;
   display: block;
}

@keyframes grow {
   0% {
      transform: scale(1);
   }

   50% {
      transform: scale(1.16);
   }

   100% {
      transform: scale(1);
   }
}

footer .rocket-logo {
   animation: grow 1.75s ease-in-out infinite;
}

/*Styles for separator element in between the pages*/
.bg-gradient-to-r {
   background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.from-orange-500 {
   --tw-gradient-from: #f97316;
   --tw-gradient-to: rgb(249 115 22 / 0);
   --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.to-pink-500 {
   --tw-gradient-to: #ec4899;
}

.rounded-full {
   margin-top: 40px;
   border-radius: 9999px;
}

.w-24 {
   width: 6rem;
}

.h-1 {
   height: 0.25rem;
}

.my-24 {
   margin-top: 6rem;
   margin-bottom: 6rem;
}

.mx-auto {
   margin-left: auto;
   margin-right: auto;
}
