/*Styles for separator element in between the pages*/
.bg-gradient-to-r {
   background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.from-orange-500 {
   --tw-gradient-from: #f97316;
   --tw-gradient-to: rgb(249 115 22 / 0);
   --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.to-pink-500 {
   --tw-gradient-to: #ec4899;
}

.rounded-full {
   margin-top: 40px;
   border-radius: 9999px;
}

.w-24 {
   width: 6rem;
}

.h-1 {
   height: 0.25rem;
}

.my-24 {
   margin-top: 6rem;
   margin-bottom: 6rem;
}

.mx-auto {
   margin-left: auto;
   margin-right: auto;
}



/*Styles for the survey area to have the questions spaced and colores set*/
main .survey-container {
   margin-top: 20px;
   margin-bottom: 50px;
   transition: 500ms;
}

main .survey-header {
   color: rgb(65, 230, 175);
   text-shadow: 2px 2px 5px #000000;
   transition: 500ms;
}

main .survey-header:hover {
   cursor: pointer;
}

main .survey-header:hover {
   scale: 1.1;
   transition: 500ms;
}

main .survey-content {
   margin-top: 40px;
   margin-bottom: 100px;
   color: aliceblue;
}

main .survey-content p {
   margin-top: 4px;
   margin-bottom: 20px;
   color: rgb(117, 193, 255);
}