/* You can add global styles to this file, and also import other style files */

/*Styles for the background gradient animation*/
@keyframes gradient {
   0% {
      background-position: 0% 50%;
   }

   50% {
      background-position: 100% 50%;
   }

   100% {
      background-position: 0% 50%;
   }
}

/*Faltan los tipos de letra*/

/*Styles for the body part of the html, sets backgrounds, colors, font types*/
body {
   transition: 500ms;
   font-family: 'myFont-Titles', sans-serif;
   background: linear-gradient(-45deg, #172333, #1f1013, #0d0d33, #18042e);
   animation: gradient 20s ease infinite;
   background-size: 400% 400%;
}

body::-webkit-scrollbar {
   height: 0.375rem;
   width: 0.375rem;
}

body::-webkit-scrollbar-thumb {
   border-radius: 0.125rem;
   --tw-bg-opacity: 1;
   background-color: rgb(69 78 86 / var(--tw-bg-opacity));
}

body::-webkit-scrollbar-track {
   --tw-bg-opacity: 1;
   background-color: rgb(18 24 27 / var(--tw-bg-opacity));
}

