<!DOCTYPE html>
<html lang="es">
{{> head}}
<body>
{{> header}}
    <div class="head-text text-center mb-8 mt-20 text-white">
        <h1 class="head-text-content text-5xl mb-1">AREA PERSONAL</h1>
        <div class="mx-auto w-24 h-1 my-40 bg-gradient-to-r from-orange-500 to-pink-500 rounded-full"></div>
    </div>
</header>
<main>
    <!--Login-->
    <section></section>
    <!--Register-->
    <section></section>
    <div class="container page-elements my-3">
        <article class="profile-container my-1">
            <div class="section-title">Datos e Imagen de Perfil</div>
            <div class="mx-auto w-25 h-1 my-40 bg-gradient-to-r from-blue-500 to-purple-500 roundier"></div>
            <div class="profile-elements">
                <div class="profile-pic">
                    <img class="profile-img" src="/static/img/Profile-Pics/profile_img.png" />
                </div>
                <div class="profile-name">
                    <div class="user-name">{{user.username}}</div>
                </div>
            </div>
            <div class="profile-placeholder">PERFIL</div>
        </article>
    </div>
    <div class="container page-elements my-3">
        <article class="profile-container my-1">
            <div class="section-title">Mis Cursos!</div>
            <div class="mx-auto w-25 h-1 my-40 bg-gradient-to-r from-blue-500 to-purple-500 roundier"></div>
            <div class="pack-elements">
                {{#user.packList}}
                <article class="packId-container my-2">
                    <div class="packId-header">
                        <div class="packId-logo">
                            <object class="packId-svg" data="/static/{{packImage}}" type="image/svg+xml"></object>
                        </div>
                        <div class="packId-info">
                            <div class="packId-title">{{packTitle}}</div>
                            <div class="packId-content">{{packDescription_short}}</div>
                        </div>
                    </div>
                    <div class="tag-section">
                        {{#tags}}
                        <span class="tag {{tagType}}">{{tagName}}</span>
                        {{/tags}}
                    </div>
                </article>
                {{/user.packList}}
            </div>
        </article>
    </div>
    <div class="container page-elements my-3">
        <article class="profile-container my-1">
            <div class="section-title">Recomendaciones</div>
            <div class="mx-auto w-25 h-1 my-40 bg-gradient-to-r from-blue-500 to-purple-500 roundier"></div>
            <div class="pack-elements">
                <article class="packId-container my-2">
                    <div class="packId-header">
                        <div class="packId-logo">
                            <object class="packId-svg" data="/Frontend/Img-Sources/Loaders/thread_icon.svg" type="image/svg+xml"></object>
                        </div>
                        <div class="packId-info">
                            <div class="packId-title">¿Como apruebo DAA?</div>
                            <div class="packId-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet,</div>
                        </div>
                    </div>
                    <div class="tag-section">
                        {{#tags}}
                        <span class="tag {{tagType}}">{{tagName}}</span>
                        {{/tags}}
                    </div>
                </article>
            </div>
        </article>
    </div>
</main>
{{> footer}}
</body>
</html>