<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/html">
{{>head}}
<body>
{{# logged}}
{{> headerLogged}}
{{/ logged}}

{{^ logged}}
{{> header}}
{{/ logged}}
<div class="head-text text-center mb-8 mt-20 text-white">
    <h1 class="head-text-content text-5xl mb-1">Cursos</h1>
</div>
<div class="mx-auto w-24 h-1 my-40 bg-gradient-to-r from-orange-500 to-pink-500 rounded-full"></div>
</header>
<main>
    <!--Para incluir login-->
    <section></section>
    <!--Para incluir register-->
    <section></section>
    <section>
        <div class="container page-elements my-3">
            <article class="profile-container my-1">
                <div class="section-title">Resultados de packs encontrados:</div>
                <div class="mx-auto w-25 h-1 my-40 bg-gradient-to-r from-blue-500 to-purple-500 roundier"></div>
                <div class="pack-elements">
                    {{#packs}}
                    <article class="packId-container my-2">
                        <div class="packId-header">
                            <div class="packId-logo">
                                <img class="packId-svg" src="/static/{{packImage}}" type="image/svg+xml"/>
                            </div>
                            <div class="packId-info">
                                <div class="packId-title">{{packTitle}}</div>
                                <div class="packId-content">{{packDescription_short}}</div>
                                <div class="packId-title">Contenido extendido</div>
                                <div class="packId-content">{{packDescriptionLong}}</div>
                            </div>
                        </div>
                        <div class="tag-section">
                            {{#tags}}
                            <span class="tag {{tagType}}">{{tagName}}</span>
                            {{/tags}}
                        </div>
                    </article>
                    {{/packs}}
                </div>
            </article>
        </div>
    </section>
</main>
{{>footer}}
</body>
</html>