<!DOCTYPE html>
<html lang="es">
{{> head}}
<body>
<main>
    <section class="main-back to-purple-500 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 d-flex flex-column align-items-center text-center py-6">
                    <h1 class="text-6xl">Se ha producido un error<span class="text-primary"> :"/ </span></h1>
                    <p class="text-2xl text-gray-700">
                        Regresa a la zona
                        <span class="text-yellow-500 font-bold"><a href="/main">Principal</a></span>
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>