<footer class="container text-center text-gray3">
   <div class="mx-auto w-24 h-1 my-40 bg-gradient-to-r from-orange-500 to-pink-500 rounded-full mb-5"></div>
   <div class="pt-10">
      ¿Hay algún problema con la web?
      <a class="text-blue-500" href="https://github.com/CodeURJC-DAW-2022-23/webapp14.git">Ayúdanos en GitHub</a>
   </div>
   <div class="py-2">
      ¿Necesitas ayuda? -->
      <a><strong class="text-white font-bold">UniHub@hotmail.com</strong></a>
   </div>
   <div class="flex justify-center items-center"></div>
   <h6>Links Útiles</h6>
   <object class="rocket-logo" data="/img/Loaders/rocketLogo.svg" type="image/svg+xml"></object>
   <div class="py-3"><a href="/packs">Packs</a> | <a href="/forms">Foro</a> | <a href="/surveys">Encuestas</a> | <a href="/login">LogIn</a> | <a href="/SignUp">SignUp</a></div>
   <div class="text-xs">Copyright © 2023 UniHub LLC <br /></div>
</footer>
