<!DOCTYPE html>
<html lang="es">
{{>head}}
<body>
{{>header}}
    <div class="head-text text-center mb-8 mt-20 text-white">
        <h1 class="head-text-content text-5xl mb-1">FORO E HILOS</h1>
        <p class="my-0 text-gray3">Busca y encuentra lo que no sabías que querías</p>
        <div class="mx-auto w-24 h-1 my-40 bg-gradient-to-r from-orange-500 to-pink-500 rounded-full"></div>
    </div>
</header>
<main>
    <div class="more-packs">
        <button class="thread-button" expanded="false"><a class="thread-button" href="/formsMaker">Crea tu Hilo!</a></button>
    </div>
    <div class="container thread-container">
        <a class="post-link" href="/post">
            <article class="thread my-1">
                <div class="thread-header">
                    <div class="thread-logo">
                        <object class="thread-svg" data="/static/img/Loaders/thread_icon.svg" type="image/svg+xml"></object>
                    </div>
                    <div class="thread-info">
                        <div class="thread-title">¿Como apruebo DAA?</div>
                        <div class="thread-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet,</div>
                    </div>
                </div>
                <div class="thread-date text-white">23/01/2023</div>
                <div class="thread-author">Sergio2000</div>
            </article>
        </a>
    </div>
    <div class="container text-center mt-5">
        <button class="show-more">LOAD MORE</button>
    </div>
</main>
{{>footer}}
</body>
</html>