<header id="headerContent" style="display: inline">
   <nav class="navbar navbar-expand-lg">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon">
            <img src="/static/img/Loaders/DeployMore.svg" width="65" height="65" />
         </span>
      </button>
      <a class="navbar-brand mr-5" href="/main"><img src="/static/img/Brand-Icon/brand.png" width="65" height="65" /></a>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
         <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
               <a class="nav-link" href="/packs">Packs&#128293;</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/forms">Foro&#128221;</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/surveys">Encuestas&#128077;</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/LogOut">Log Out&#10060;</a>
            </li>
         </ul>
         <form class="form-inline my-2 my-lg-0" action="/search" method="post">
            <!--token CSRF -->
            <input type="hidden" name="_csrf" value="{{token}}" />
            <input class="form-control mr-sm-2" type="search" name="query" placeholder="Search" aria-label="Search" />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
         </form>
         <li class="nav-item">
            <a id="headerButton" class="nav-link pl-2" href="/clientArea"><img src="data:image/jpeg;base64,{{imageHeader}}" width="50" height="50" /></a>
         </li>
      </div>
   </nav>
