<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/html">
 {{> head}}
<section id="headerLogin">
 {{> header}}
</header>
</section>
      <form id="login_popup" class="align-self-center" action="/processFormLogin" method="post">
        <h1 class="text-center" >Inicio de sesión</h1>
        <div class="form-group">
              <label class="text-white" for="password">Nombre de Usuario:</label>
              <input type="text" name="username" required="" class="FormInput form-control" id="username" />
        </div>
        <div class="form-group">
          <label class="text-white" for="password">Contraseña:</label>
          <input type="password" name="password" required="" class="FormInput form-control" id="password" />
        </div>
        <div class="d-flex flex-column justify-content-between" id="buttonsContainer">
          <input type="submit" value="Confirmar" class="btn btn-primary FormInput">
          <input type="hidden" name="_csrf" value="{{token}}"/>
          <a type="button" class="btn btn-info" href="/SignUp">Registrarse</a>
          <a type="button" class="btn btn-secondary" href="/main">Volver </a>
        </div>
      </form>
</html>