<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/html">
 {{>head}}
<body>
{{>header}}
</header>
<main>
  <section class="main-back to-purple-500" id="packContent">
    <div id="firstContainer" class="container my-20">
      <div class="row">
        <div class="col-md-12 d-flex flex-column align-items-center text-center py-6">
          <h1 class="text-6xl mb-0">Aprende a estudiar <span class="text-primary">eficazmente</span></h1>
          <p class="text-2xl text-gray-700">
            Mejor web de
            <span class="text-yellow-500 font-bold">material</span> &
            <span class="text-pink-500 font-bold">recomendaciones</span>
            para aprobar tus exámenes
          </p>
        </div>
      </div>
    </div>
    <div id="secondContainer" class="container my-20">
      <div class="row">
        <div class="col-sm-12 d-flex flex-column align-items-center text-center py-6">
          <h1 id="emoji" class="text-6xl mb-0">&#x1F447;</h1>
          <br /><br />
          <p id="information">
            Bienvenidos a nuestra tienda en línea donde les ofrecemos packs de materiales y recursos sobre diferentes carreras universitarias. Nuestros packs están diseñados para ayudar a los estudiantes a aprobar sus exámenes con mayor facilidad y éxito.<br />
            Nuestros materiales incluyen apuntes detallados, resúmenes, esquemas y mucho más, todo seleccionado por expertos en cada materia para garantizar su calidad y eficacia. <br />
            Además, nuestro equipo de apoyo está disponible las 24 horas para responder a cualquier pregunta o duda que pueda tener. Pero no solo eso, también disponemos de un foro donde los antiguos alumnos pueden compartir sus opiniones sobre las materias y las carreras universitarias.<br />
            Aquí, los estudiantes pueden obtener información valiosa de primera mano sobre las materias y las carreras, así como hacer preguntas y obtener respuestas de otros estudiantes que han pasado por la misma experiencia. En resumen, si está buscando una manera de aprobar sus exámenes con más facilidad y éxito, no busque más. <br />
            nuestros packs de materiales y recursos, y con el apoyo de nuestro foro, estamos seguros de que podrá obtener los resultados que desea. <br />
            ¡No dude en visitarnos hoy mismo!
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
{{>footer}}
</body>
</html>
