<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/html">
{{>head}}
<body>
{{>header}}
</header>
<main>
    <!--Login-->
    <section></section>
    <!--Register-->
    <section></section>
    <div class="container pack-info text-center">
        <img class="packInfo-img" src="/static/img/Subject-Icons/ED.png" />
        <section class="p-3">
            <div class="packInfo-header">
                <h3 class="title">Diseño y Arquitectura de Computadores</h3>
                <div clas="tagArea">
                    <span class="tag tag-hardware packInfo-tag">#Computadores</span>
                    <span class="tag tag-programming packInfo-tag">#Programacion</span>
                </div>
            </div>
            <div class="mx-auto w-25 mb-2 h-1 bg-gradient-to-r from-blue-500 to-purple-500 roundy"></div>
        </section>
        <div class="packInfo-content">
            <p class="course-information">
                Consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet em ipsum dolor sit amet, consectetur adipiscing elit.<br />
                em ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet
            </p>
        </div>
        <div class="mx-auto w-25 mb-2 h-1 bg-gradient-to-r from-blue-500 to-purple-500 roundy"></div>
        <div class="purchase-area">
            <span class="price-tag">9.99</span>
            <span class="dollars">&#x1F4B5;</span>
            <div class="button-container">
                <span class="buyout"><object class="buyout-logo" data="/static/img/Loaders/purchase.svg" type="image/svg+xml"></object></span>
            </div>
        </div>
    </div>
</main>
{{>footer}}
</body>
</html>
