<!DOCTYPE html>
<html lang="es">
{{>head}}
<body>
{{>header}}
<main>
  <!--Para incluir login-->
  <section></section>
  <!--Para incluir register-->
  <section></section>

  <div class="more-packs">
    <button class="pack-button" id="pack-button" expanded="false">+</button>
  </div>
  <section>
    <div class="container-fluid">
      <div class="product-row no-gutters" id="packContent">
        <div class="product-column col-md-3">
          <a class="packInfo-link" href="packInfo.html">
            <img src="/static/img/Subject-Icons/ED.png" />
            <section class="p-3">
              <h3>DAW</h3>
              <p>Consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <span class="tag tag-hardware">#Computadores</span>
              <span class="tag tag-programming">#Programacion</span>
              <span class="purchase-span"><object class="purchase-logo" data="/static/img/Loaders/purchase.svg" type="image/svg+xml"></object></span>
            </section>
          </a>
        </div>
        <div class="product-column col-md-3">
          <a class="packInfo-link" href="packInfo.html">
            <img src="/static/img/Subject-Icons/ED.png" />
            <section class="p-3">
              <h3>AIC</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <span class="tag tag-math">#Mates</span>
              <span class="tag tag-hardware">#Computadores</span>
              <span class="purchase-span"><object class="purchase-logo" data="/static/img/Loaders/purchase.svg" type="image/svg+xml"></object></span>
            </section>
          </a>
        </div>
        <div class="product-column col-md-3">
          <a class="packInfo-link" href="packInfo.html">
            <img src="/static/img/Subject-Icons/ED.png" />
            <section class="p-3">
              <h3>POO</h3>
              <p>Lorem ipsum dolor sit consectetur adipiscing elit.Lorem ipsum dolor sit amet,</p>
              <span class="tag tag-programming">#Programacion</span>
              <span class="purchase-span"><object class="purchase-logo" data="/img/Loaders/purchase.svg" type="image/svg+xml"></object></span>
            </section>
          </a>
        </div>
        <div class="product-column col-md-3">
          <a class="packInfo-link" href="packInfo.html">
            <img src="/static/img/Subject-Icons/ED.png" />
            <section class="p-3">
              <h3>ED</h3>
              <p>Consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <span class="tag tag-logic">#Logica</span>
              <span class="tag tag-programming">#Programacion</span>
              <span class="purchase-span"><object class="purchase-logo" data="/img/Loaders/purchase.svg" type="image/svg+xml"></object></span>
            </section>
          </a>
        </div>
        <div id="pack-extra"></div>
      </div>
    </div>
  </section>
</main>
<footer class="container text-center text-gray3">
  <div class="mx-auto w-24 h-1 my-40 bg-gradient-to-r from-orange-500 to-pink-500 rounded-full mb-5"></div>
  <div class="pt-10">
    ¿Hay algún problema con la web?
    <a class="text-blue-500" href="https://github.com/CodeURJC-DAW-2022-23/webapp14.git">Ayúdanos en GitHub</a>
  </div>
  <div class="py-2">
    ¿Necesitas ayuda? -->
    <a><strong class="text-white font-bold">UniHub@hotmail.com</strong></a>
  </div>
  <div class="flex justify-center items-center"></div>
  <h6>Links Útiles</h6>
  <object class="rocket-logo" data="/static/img/Loaders/rocketLogo.svg" type="image/svg+xml"></object>
  <div class="py-3"><a href="/packs">Packs</a> | <a href="/forms">Foro</a> | <a href="/survey">Encuestas</a> | <a href="#">LogIn</a> | <a href="#">SignUp</a></div>
  <div class="text-xs">Copyright © 2023 UniHub LLC <br /></div>
</footer>
</body>
</html>
