<!DOCTYPE html>
<html lang="es">
{{> head}}
<body>
{{> header}}
    <div class="head-text text-center mb-8 mt-20 text-white">
        <h1 class="head-text-content text-5xl mb-1">Cursos</h1>
        <p class="my-0 text-gray3">asignaturas con materiales disponibles actualmente</p>
    </div>
    <div class="mx-auto w-24 h-1 my-40 bg-gradient-to-r from-orange-500 to-pink-500 rounded-full"></div>
</header>
<main>
    <!--Login-->
    <section></section>
    <!--Register-->
    <section></section>
    <div class="container pack-info text-center">
        <img class="packInfo-img" src="/static/{{pack.packImage}}" />
        <section class="p-3">
            <div class="packInfo-header">
                <h3 class="title">{{pack.packTitle_expanded}}</h3>
                <div clas="tagArea">
                    {{#pack.tags}}
                    <span class="tag {{tagType}}">{{tagName}}</span>
                    {{/pack.tags}}
                </div>
            </div>
            <div class="mx-auto w-25 mb-2 h-1 bg-gradient-to-r from-blue-500 to-purple-500 roundy"></div>
        </section>
        <div class="packInfo-content">
            <p class="course-information">
                {{pack.packDescriptionLong}}
            </p>
        </div>
        <div class="mx-auto w-25 mb-2 h-1 bg-gradient-to-r from-blue-500 to-purple-500 roundy"></div>
        <div class="purchase-area">
            <span class="price-tag">{{pack.packPrice}}</span>
            <span class="dollars">&#x1F4B5;</span>
            <div class="button-container">
               <span class="buyout"><object class="buyout-logo" data="/static/img/Loaders/purchase.svg" type="image/svg+xml"></object></span>
            </div>
        </div>
    </div>
</main>
{{> footer}}
</body>
</html>
