<!DOCTYPE html>
<html lang="es">
{{>head}}
<body>
{{>header}}
<main>
  <!--Para incluir login-->
  <section></section>
  <!--Para incluir register-->
  <section></section>

  <div class="more-packs">
    <button class="pack-button" id="pack-button" expanded="false">+</button>
  </div>
  <section>
    <div class="container-fluid">
      <div class="product-row no-gutters" id="packContent">
        <div class="product-column col-md-3">
          <a class="packInfo-link" href="packInfo.html">
            <img src="/static/img/Subject-Icons/ED.png" />
            <section class="p-3">
              <h3>DAW</h3>
              <p>Consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <span class="tag tag-hardware">#Computadores</span>
              <span class="tag tag-programming">#Programacion</span>
              <span class="purchase-span"><object class="purchase-logo" data="/static/img/Loaders/purchase.svg" type="image/svg+xml"></object></span>
            </section>
          </a>
        </div>
        <div class="product-column col-md-3">
          <a class="packInfo-link" href="packInfo.html">
            <img src="/static/img/Subject-Icons/ED.png" />
            <section class="p-3">
              <h3>AIC</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <span class="tag tag-math">#Mates</span>
              <span class="tag tag-hardware">#Computadores</span>
              <span class="purchase-span"><object class="purchase-logo" data="/static/img/Loaders/purchase.svg" type="image/svg+xml"></object></span>
            </section>
          </a>
        </div>
        <div class="product-column col-md-3">
          <a class="packInfo-link" href="packInfo.html">
            <img src="/static/img/Subject-Icons/ED.png" />
            <section class="p-3">
              <h3>POO</h3>
              <p>Lorem ipsum dolor sit consectetur adipiscing elit.Lorem ipsum dolor sit amet,</p>
              <span class="tag tag-programming">#Programacion</span>
              <span class="purchase-span"><object class="purchase-logo" data="/img/Loaders/purchase.svg" type="image/svg+xml"></object></span>
            </section>
          </a>
        </div>
        <div class="product-column col-md-3">
          <a class="packInfo-link" href="packInfo.html">
            <img src="/static/img/Subject-Icons/ED.png" />
            <section class="p-3">
              <h3>ED</h3>
              <p>Consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <span class="tag tag-logic">#Logica</span>
              <span class="tag tag-programming">#Programacion</span>
              <span class="purchase-span"><object class="purchase-logo" data="/img/Loaders/purchase.svg" type="image/svg+xml"></object></span>
            </section>
          </a>
        </div>
        <div id="pack-extra"></div>
      </div>
    </div>
  </section>
</main>
{{>footer}}
</body>
</html>
