<!DOCTYPE html>
<html lang="es">
{{> head}}

<body>
{{> header}}
    </nav>
    <div class="mx-auto w-24 h-1 my-40 bg-gradient-to-r from-orange-500 to-pink-500 rounded-full"></div>
</header>
<main>
    <div class="container post-container">
        <div class="post-header">
            <div class="post-logo">
                <object class="post-svg"
                        data="{{post.threadImage}}"
                        type="image/svg+xml"></object>
            </div>
            <div class="post-title">{{post.threadTitle}}</div>
        </div>
        <div class="mx-auto w-25 h-1 my-40 bg-gradient-to-r from-blue-500 to-purple-500 roundy"></div>
        <div class="post-comments">
            <div class="post-info">
                <div class="post-content">{{post.threadContent}}</div>
                <div class="post-upvotes">
                    <object class="upvote-svg"
                            data="/static/img/Loaders/up_icon.svg"
                            type="image/svg+xml"></object>
                    <span class="upvote-number">{{post.threadUpvotes}}</span>
                </div>
            </div>
            <div class="post-metadata">
                <div class="post-date text-white">{{post.threadDate}}</div>
                <div class="post-author">{{post.threadAuthor}}</div>
            </div>
        </div>
        <div class="post-comments">
            {{#post.posts}}
            <div class="post-response">
                <div class="post-info">
                    <div class="post-content">{{postContent}}</div>
                    <div class="post-upvotes">
                        <object class="upvote-svg"
                                data="/static/img/Loaders/up_icon.svg"
                                type="image/svg+xml"></object>
                        <span class="upvote-number">{{postUpvotes}}</span>
                    </div>
                </div>
                <div class="post-metadata">
                    <div class="post-date text-white">{{postDate}}</div>
                    <div class="post-author">{{postAuthor}}</div>
                </div>
            </div>
            {{/post.posts}}
        </div>
    </div>
    <div class="mx-auto w-25 mb-2 h-1 bg-gradient-to-r from-blue-500 to-purple-500 roundy"></div>
    <div class="container post-reply">
        <form  action="/post/{{id}}" method="post">
            <input type="hidden" name="_csrf" value="{{token}}"/>
            <label for="comment">Comentario:</label>
            <textarea class="submit-CommentText" id="comment" name="comment"></textarea>
            <input type="submit" class="submit-Comment" value="Enviar" />
        </form>
    </div>
</main>
{{> footer}}
</body>
</html>
